body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background: #f0f0f0;
  padding: 10px;
  z-index: 1000;
}

header.scrolled {
  background: #f0f0f0;
}

.title h2 {
  font-size: xxx-large;
  transition: font-size 0.5s ease, padding 0.5s ease;
  padding: 5px;
  background: #f0f0f0;
  margin-bottom: 0;
  text-align: center;
}

.title h2.scrolled {
  font-size: large;
  padding: 5px;
  background: #f0f0f0;
}

.title {
  background: #f0f0f0;
  font-family: monospace;
  font-style: oblique;
  text-align: center;
  opacity: 0;
  animation: fadeIn 5s forwards;
}

.subTitle {
  color: #888888;
  font-family: monospace;
  text-align: center;
  margin-top: 100px;
  opacity: 0;
  animation: fadeIn 5s forwards;
}

.photoTitle {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.image-container {
  position: relative;
  display: inline-block; /* Aligns the container neatly and allows for hover effect */
  margin: 10px; /* Space around each image container */
}

.image-container a {
  display: block;
  text-decoration: none;
}

.image-container img {
  display: block;
  height: 40px;
  width: 40px;
}

.hover-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1);
  width: 80%;
  height: 2px;
  background-color: black;
  bottom: -15px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.image-container:hover .hover-line {
  opacity: 1;
  transform: translateX(-50%) scaleY(1.5);
}


.aboutMe {
  font-family: monospace;
  margin-left: 28px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 5.5s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #3498db;
  }
}

.animation-container {
  position: relative;
}

.animate-up {
  opacity: 0;
  transform: translateY(50px);
  animation: slide-up 1.75s ease-out forwards;
}

@keyframes slide-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.aboutMePhoto {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.rowBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Base styles */
.box {
  flex: 0 1 90%; /* Default width for small screens */
  border: 1px solid #ccc;
  padding: 20px;
  height: 350px;
  margin: 3vw;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #f9f9f9;
}

/* Medium screens (e.g., tablets) */
@media (min-width: 600px) {
  .box {
    flex: 0 1 50%; /* Increased width for medium screens */
  }
}

/* Large screens (e.g., desktops) */
@media (min-width: 1024px) {
  .box {
    flex: 0 1 30%; /* Increased width for large screens */
  }
}

.boxTitle {
  font-size: 30px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.boxSubTitle {
  margin: 5px;
  color: #666;
  text-align: center;
  font-family: Arial, sans-serif;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}



.archive {
  text-align: center;
  color: #333;
  font-family: 'Arial', sans-serif;
  font-size: 1.5em;
  font-style: italic;
  margin-top: 20px;
}

.archive:hover {
  color: #3498db;
}

footer {
  background-color: dimgrey;
  color: white;
  padding: 20px;
  text-align: center;
}


.text-container {
  padding: 10px;
  display: inline-block;
}

.text-container a {
  font-size: 10px;
  text-decoration: none;
}

.text-container .hover-line-text {
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}


.text-container:hover .hover-line-text {
  width: 100%;
}


